<div class="container-fluid single-trend-bg" >
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <div class="container">
	  	<h1 class="single-trend text-center">#<%= params[:hashtag] %></h1>
	  </div>
	</div>
</div>

<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
  <%= render 'partials/login_btn' %>
  <%= render 'partials/hashtags' %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
	<% if @hashtagged %>
	  <% @hashtagged.each do |hashtagged| %>
	    <%= render_hashtaggable hashtagged %>
	  <% end -%>
	<% else -%>
	  <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
	<% end -%>
</div>
