<!-- <span class='badge'> 
  <%#=  PublicActivity::Activity.order("created_at desc").where(owner_id: current_user.following_ids , owner_type: "User").unread_by(current_user).count %>
  <%#=  PublicActivity::Activity.unread_by(current_user).count %>
</span> -->
<%# @user ||= current_user %>
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
	<%= render 'partials/hashtags' %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title"> Friends Activities</h6>
			<%# <a class="more fa fa-ellipsis-h" href="<%= users_path %>
		</div>
		<ul class="widget w-friend-pages-added notification-list friend-requests" >
			<% @activities.each do |activity| %>
			<li class="inline-items">
				<div class="author-thumb">
					<%= image_tag 'avatar.jpg' %>
				</div>
				<div class="notification-event">
					<a class = "h6 notification-friend" href=""> <%= link_to activity.owner.name.capitalize, activity.owner if activity.owner %></a>
					<%#<span class="user-<%#= user.id %><%#">%>
            <%# in user.verified, the first '' is verfied n the 2 is unverified %>
            <%#= link_to "#{ user.verified ? '' : '' }", verified_user_path(user), method: :patch, remote: :true, style: "pointer-events: none;", class: "fa fa-#{ user.verified ? 'check-circle' : '' }"  %>
          <%#</span>%>
					<span class="chat-message-item"><%= render_activity activity %></span>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
	<%= render 'partials/suggestions' %>
</div>


